{% extends "base.html" %}
{% block content %}

<div>
    <div class="article" type="text">
        <h1>Short history behind movie</h1>
    </div>

    <div class="history-container">
        <div class="history-content">
            <p class="history-text">
                No one person invented cinema. However, in 1891 the Edison Company
                successfully demonstrated a prototype of the Kinetoscope, which 
                enabled one person at a time to view moving pictures.<br>
                <br>
                The first public Kinetoscope demonstration took place in 1893. 
                By 1894 the Kinetoscope was a commercial success, <br> 
                with public parlours established around the world. 
                The first to present projected moving pictures to a paying audience <br> 
                were the Lumière brothers in December 1895 in Paris, France. <br>
                <br>
                Colour was first added to black-and-white movies through hand colouring, 
                tinting, toning and stencilling.
                By 1906, the principles of colour separation were used to produce so-called 
                ‘natural colour’ moving images with the British Kinemacolor process, 
                first presented to the public in 1909.
                Kinemacolor was primarily used for documentary (or ‘actuality’) films, 
                such as the epic With Our King and Queen Through India (also known as The Delhi Durbar) 
                of 1912, which ran for over 2 hours in total.
                The early Technicolor processes from 1915 onwards were cumbersome and expensive, 
                and colour was not used more widely until the introduction of its three‑colour process in 1932.
                It was used for films such as Gone With the Wind and The Wizard of Oz (both 1939) in Hollywood 
                and A Matter of Life and Death (1946) in the UK. <br>
                <br>
                The first attempts to add synchronised sound to projected pictures used phonographic
                cylinders or discs.
                The first feature-length movie incorporating synchronised dialogue,
                The Jazz Singer (USA, 1927), used the Warner Brothers’ Vitaphone system,
                which employed a separate record disc with each reel of film for the sound.
                This system proved unreliable and was soon replaced by an optical,
                variable density soundtrack recorded photographically along the edge of the film,
                developed originally for newsreels such as Movietone.
            </p>
        </div>

        
        <div class="history-image-container">
            <img class="history-image" src="https://www.scienceandmediamuseum.org.uk/sites/default/files/styles/smg_carousel_zoom/public/31008048.jpg" alt="Movie History Image">
            <p class="kinetoscope">Detail of Kinetoscope, made by Thomas Edison in 1894</p>
            <br>
            <img class="history-image" src="https://www.scienceandmediamuseum.org.uk/sites/default/files/styles/smg_carousel_zoom/public/347701996.jpg" alt="Cinematographe">
            <p class="cinematographe">Lumière Cinématographe, c.1896</p>
        </div>
    </div>
</div>
{% endblock %}