{% extends "base.html" %}
{% block content %}



<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_movie') }}">
        
        <div>
            <div class="input-field col s12">
                <div class="row">
                  <div div class="input-field col s12">
                     <i class="fas fa-film prefix light-blue-text text-darken-4"></i>
                     <textarea id="movie_title" name="movie_title" minlength="3" maxlength="25" type="text" class="materialize-textarea validate" required></textarea>
                     <label for="movie_title"><b>Name of the movie</b></label>
                 </div>
                </div>
                <div class="row">
                    <div class="input-field col s12"></div>
                      <i class="light-blue-text text-darken-4"></i>
                      <label for="movie_genre"></label> 
                      <select id="movie_genre" name="movie_genre" class="browser-default validate" required>
                         <option value="" selected disabled>Select movie genre</option>
                         <option value="Action">Action</option>
                         <option value="Adventure">Adventure</option>
                         <option value="Comedy">Comedy</option>
                         <option value="Drama">Drama</option>
                         <option value="Animation">Animation</option>
                         <option value="Crime">Crime</option>
                         <option value="Fantasy">Fantasy</option>
                         <option value="Historical">Historical</option>
                         <option value="Horror">Horror</option>
                         <option value="Romance">Romance</option>
                         <option value="Science Fiction">Science Fiction</option>
                         <option value="Thriller">Thriller</option>
                         <option value="Western">Western</option>
                         <option value="Mystery">Mystery</option>
                         <option value="Other">Other</option>
                      </select>
                </div>
                <div class="row">
                   <div class="input-field col s12">
                       <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                       <input id="movie_year" name="movie_year" type="number" min="1900" max="2024" class="validate" required>
                       <label for="movie_year"><b>Year</b></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                       <i class="fas fa-pen prefix light-blue-text text-darken-4"></i>
                       <textarea id="movie_description" name="movie_description" minlength="5" maxlength="100" type="text" class="materialize-textarea validate" required></textarea>
                       <label for="movie_description"><b>Description</b></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Add Movie <i class="fas fa-plus-square"></i>
                </button>
            </div>
        </div>
        
    </form>
</div>


{% endblock %}