{% extends "base.html" %}
{%  block content %}




<div class="row card-panel grey lighten-5 contact_me ">
  <form class="col s12" method="POST">
      
      <div class="row">
          <div class="input-field col s12">
              <i class="light-blue-text text-darken-4"></i>
              <input id="name" name="name" minlength="5" maxlength="50" type="text" class="validate" required>
              <label for="name">Name</label>
          </div>
      </div>
      
      <div class="row">
          <div class="input-field col s12">
              <i class="light-blue-text text-darken-4"></i>
              <textarea id="e_mail" name="e_mail" minlength="8" maxlength="200"
                  class="materialize-textarea validate" required></textarea>
              <label for="e_mail">E-mail</label>
          </div>
      </div>
      <!-- due date -->
      <div class="row">
          <div class="input-field col s12">
              <i class="light-blue-text text-darken-4"></i>
              <input id="message" name="message" minlength="5" maxlength="50" type="text" class="validate" required>
              <label for="message">Your message</label>
          </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
            <button type="submit" class="btn-large grey darken-1">
                Send message <i class="fas fa-envelope right"></i>
            </button>
        </div>
    </div>
</form>
</div>

{% endblock%}