{% extends "base.html" %}
{% block content %}

<section>
    <div class="container" style="text-align: center;">
        <div style="margin-bottom: 100px;">
            <h1>Movieblog</h1>
            <p>Welcome to Movieblog! This is a platform where you can discover and share your favorite movies.</p>
            <p>Please log in to add, edit, or delete movies.</p>
        </div>
        <h3>Recently Added Movies</h3>
        <ul>
            {% for movie in all_movies %}
                <li>
                    {% if movie.user_movies %}
                        {{ movie.user_movies.username }} just posted new movie: "{{ movie.movie_title }}" {{ movie.movie_year }}
                    {% else %}
                        Unknown user just posted new movie "{{ movie.movie_title }}" {{ movie.movie_year }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>

{% endblock %}